* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-size-adjust: none;
	-moz-text-size-adjust: none;
}

input, button {
	border: none;
	outline: none;
	border-radius: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.container-fluid {

}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;

	@media (--desktop) {
		max-width: 768px;
		padding: 0 24px;
	}

	@media (--mobile) {
		padding: 0 20px;
	}

	&._info {
		display: flex;
		justify-content: space-between;
		padding: 80px 0 15px 20px;

		@media (--desktop) {
			padding: 60px 24px 0 24px;
		}
	}
}

.bx-wrapper {
	margin: 0 auto;
	box-shadow: none;
	border: none;
	background: transparent;
}


.h2, .h1 {
	position: relative;
	margin: 0 0 40px 0;
	font: 32px/34px var(--Lato-Regular);
	color: #000000;

	@media (--desktop) {
		font-size: 28px;
	}

	@media (--mobile) {
		font-size: 24px;
		line-height: 26px;
	}

	&._white {
		color: #ffffff;

		span {
			color: inherit;
		}
	}

	span {
		color: var(--red);
	}

	&:before {
		content: '';
		position: absolute;
		top: 125%;
		left: 0;
		display: block;
		width: 50px;
		height: 2px;
		background: var(--red);
	}
}

.fancybox-overlay {
	background: rgba(67, 67, 73, 0.77);
}

.fancybox-inner {
	overflow: visible !important;
}

.fancybox-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background: #282828;
	z-index: 8041;

	&:before, &:after {
		content: '';
		position: absolute;
		display: block;
		width: 30px;
		height: 2px;
		background: #fff;
	}

	&:before {
		content: '';
		top: 50%;
		left: 50%;
		transform: translate(-50%, 0) rotate(45deg);
	}

	&:after {
		content: '';
		top: 50%;
		left: 50%;
		transform: translate(-50%, 0) rotate(-45deg);
	}
}


.fancybox-nav {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 40px;
	height: 40px;
	background: #282828;
	z-index: 8040;

	span {
		display: none;
	}
}

.fancybox-next {
	
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		display: block;
		width: 15px;
		height: 15px;
		border-top: 3px solid white;
		border-right: 3px solid white;
	}
}

.fancybox-prev {
	
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(-50%, -50%) rotate(-135deg);
		display: block;
		width: 15px;
		height: 15px;
		border-top: 3px solid white;
		border-right: 3px solid white;
	}
}







