.btn {
	text-decoration: none;
	
	&__callback {
		position: relative;
		display: inline-block;
		width: 210px;
		padding: 0 20px 0 55px;
		text-align: center;
		font: 18px/40px var(--Lato-Regular);
		color: #fff;
		background: var(--red);

		@media (--desktop) {
			width: 235px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translate(0, -50%);
			display: block;
			width: 25px;
			height: 25px;
			background: resolve('callback-icon.svg') center/cover no-repeat;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 45px;
			transform: translate(0, -50%);
			display: block;
			height: 26px;
			width: 2px;
			background: #fff;
		}
	}

	&__more {
		position: relative;
		display: inline-block;
		padding: 0 43px 0 0;

		&:hover {
			&:after {
				content: '';
				background: #282828 resolve('btn-more__arrow_white.svg') center/50% no-repeat;
			}
		}

		span {
			display: inline-block;
			height: 38px;
			padding: 0 25px;
			font: 18px/38px var(--Lato-Regular);
			color: #fff;
			background: var(--red);
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 40px;
			height: 38px;
			transition: 400ms;
			z-index: 1;
			background: #fff resolve('btn-more__arrow_black.svg') center/50% no-repeat;
		}

		&._posa {
			position: absolute;
			bottom: 25px;
			left: 30px;
		}
	}
}