.btn {
	text-decoration: none;
	
	&__callback {
		position: relative;
		display: inline-block;
		width: 210px;
		padding: 0 20px 0 55px;
		font: 18px/40px var(--Lato-Regular);
		color: #fff;
		background: var(--red);

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translate(0, -50%);
			display: block;
			width: 25px;
			height: 25px;
			background: resolve('callback-icon.svg') center/cover no-repeat;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 45px;
			transform: translate(0, -50%);
			display: block;
			height: 26px;
			width: 2px;
			background: #fff;
		}
	}

	&__more {
		position: relative;
		display: inline-block;
		padding: 0 43px 0 0;

		&:hover {
			&:after {
				content: '';
				background: #282828;
			}
		}

		span {
			display: inline-block;
			height: 38px;
			padding: 0 25px;
			font: 18px/38px var(--Lato-Regular);
			color: #fff;
			background: var(--red);
		}

		&:before {
			content: ' ';
		    position: absolute;
		    top: 50%;
		    right: 0;
		    display: none;
		    width: 15px;
		    height: 15px;
		    border-top: 4px solid black;
		    border-right: 4px solid black;
		    transform: rotate(45deg) translate(0, -50%);
		    z-index: 2;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 40px;
			height: 38px;
			background: #fff;
			transition: 400ms;
			z-index: 1;
		}
	}
}