.catalog-aside {
	float: left;
	display: inline-block;
	vertical-align: top;
	max-width: 240px;
	width: 100%;
	margin: 0 60px 0 0;
	border: 1px solid black;

	&__list {
		padding: 10px 0;
		list-style: none;

		&-item {
			position: relative;

			&:hover {
				background: #282828;

				& > .catalog-aside__list-link {
					color: white;
				}
			}

			& > .catalog-aside__list-link {
				padding: 0 15px;
				color: #282828;
			}
		}

		&-link {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			font: 14px/36px var(--Lato-Regular);
			color: #282828;
			transition: 400ms;

			&._l2 {
				
				span {
					position: relative;
					display: inline-block;
					padding: 0 15px 0 0;

					&:after {
						content: '';
						position: absolute;
						top: 50%;
						right: 0;
						transform: translate(0, -50%);
						width: 0;
						height: 0;
						border-left: 3px solid transparent;
						border-right: 3px solid transparent;
						border-top: 5px solid #000;
					}
				}
			}
		}
	}

}

