.header {
	position: relative;
	z-index: 99;

	&__top {
		background: rgba(0, 0, 0, .74);

		&._white {
			background: white;

			@media (--mobile) {
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
			}

			.main-logo {
				display: inline-block;

				img {
					
					&._wide {
						display: none;
					}

					&._desk {
						display: inline-block;
					}
				}
			}

			.main-nav {

				&__link {
					color: #3c3b3b;

					@media (--mobile) {
						color: white;
					}
				}


			}

			.header__busket {

				&:before {
					content: '';
					background: resolve('busket-icon_black.svg') center/cover no-repeat;;
				}

				&-count {
					color: #c8c8c8;

					span {
						color: #282828;
					}
				}

				&-price {
					color: #282828;
				}
			}
		}

		&-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100px;

			@media (--desktop) {
				height: 80px;
			}

			.btn__callback {
				display: none;

				&._callback {
					display: none;
				}
			}
		}

		.main-logo {
			display: inline-block;
			width: 100px;
			height: 65px;
			text-decoration: none;

			@media (--desktop) {
				width: 60px;
				height: 40px;
				margin-left: 0;
				margin-right: auto;
			}

			img {
				max-width: 100%;
				max-height: 100%;

				&._desk {
					display: none;
				}
			}
		}

		.main-nav {
			&__link {
				&:first-child {
					display: none;
				}
			}
		}

		@media (--mobile) {
			.btn__callback {
				display: none;

				&._callback {
					display: inline-block;
				}
			}

			.header__busket {
				width: 40px;
				height: 40px;
				padding: 0;
				margin: 0 5px 0 0;
				background: #fff;

				&:before {
					content: '';
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 26px;
					height: 26px;
					background: resolve('busket-icon_black.svg') center/cover no-repeat;
				}
				
				&:after {
					display: none;
				}

				&-count, &-price {
					display: none;
				}
			}
		}

		@media (--desktop) {
			.main-nav {
				display: none;

				&.active {
					display: flex;
				}
			}

			.btn__callback {
				display: inline-block;
			}
		}
	}

	&__busket {
		float: right;
		position: relative;
		display: inline-block;
		padding: 0 0 0 50px;
		text-decoration: none;
		color: #fff;

		@media (--desktop) {
			margin: 0 42px 0 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			display: block;
			width: 24px;
			height: 24px;
			background: resolve('busket-icon.svg') center/cover no-repeat;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 35px;
			transform: translate(0, -50%);
			display: block;
			width: 2px;
			height: 26px;
			background: var(--red);
		}

		&-count {
			font: 16px/20px var(--Lato-Medium);

			@media (--desktop) {
				display: inline-block;
				color: #c8c8c8;

				span {
					color: #fff;
				}
			}
		}

		&-price {
			font: 16px/20px var(--Lato-Light);

			span {
				font-family: var(--Lato-Medium);
			}

			@media (--desktop) {
				display: inline-block;
			}
		}
	}

	&__bottom {
		background: #282828;
		color: white;
		box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);

		@media (--mobile) {
			display: none;
		}

		&-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 60px;

			@media (--desktop) {
				.catalog-menu {
					display: none;
				}

				.btn__callback {
					display: none;
				}
			}
		}
	}
}














