.header {
	position: relative;
	z-index: 999;
	/*display: none;*/

	&__top {
		background: rgba(0, 0, 0, .74);

		@media (--desktop) {
			/*background: #fff;*/
		}

		&-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100px;

			.btn__callback {
				display: none;
			}
		}

		.main-logo {
			display: inline-block;
			width: 100px;
			height: 65px;
			text-decoration: none;

			@media (--desktop) {
				width: 55px;
				height: 35px;
			}

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		@media (--desktop) {
			.main-nav {
				display: none;
			}

			.btn__callback {
				display: inline-block;
			}
		}
	}

	&__busket {
		float: right;
		position: relative;
		display: inline-block;
		padding: 0 0 0 50px;
		text-decoration: none;
		color: #fff;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			display: block;
			width: 24px;
			height: 24px;
			background: resolve('busket-icon.svg') center/cover no-repeat;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 35px;
			transform: translate(0, -50%);
			display: block;
			width: 2px;
			height: 26px;
			background: var(--red);
		}

		&-count {
			font: 16px/20px var(--Lato-Medium);

			@media (--desktop) {
				display: inline-block;
			}
		}

		&-price {
			font: 16px/20px var(--Lato-Light);

			span {
				font-family: var(--Lato-Medium);
			}

			@media (--desktop) {
				display: inline-block;
			}
		}
	}

	&__bottom {
		background: #282828;
		color: white;
		box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);

		&-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 60px;

			@media (--desktop) {
				.catalog-menu {
					display: none;
				}

				.btn__callback {
					display: none;
				}
			}
		}
	}
}














