.main-nav {
	display: inline-block;
	margin: 0 70px 0 auto;

	&__link {
		position: relative;
		display: inline-block;
		margin: 0 35px 0 0;
		text-decoration: none;
		text-transform: uppercase;
		font: 14px/16px var(--Lato-Regular);
		color: #fff;

		&:last-child {
			margin-right: 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 125%;
			left: 0;
			display: block;
			width: 25px;
			height: 2px;
			background: var(--red);
			opacity: 0;
			transition: 400ms;
		}

		&:hover, &._active {
			&:before {
				opacity: 1;
			}
		}
	}

	&.active {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0;
		background: rgba(40, 40, 40, 0.94);
		z-index: 999;

		.main-nav__link {
			display: block;
			margin-right: 0;
			margin-bottom: 30px;
		}
	}

}