.product-slider {
	width: 100%;
	margin: 0 auto;
	border: 1px solid black;
	background: orange;

	&__slide {
		display: inline-block;
		height: 330px;
		margin: 0 40px 0 0;
		border: 2px solid #efeded;
	}
}


.bx-wrapper .bx-controls-direction {
	a {
		display: block;
		width: 40px;
		height: 40px;
		margin-top: -20px;
		background: #282828;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background: resolve('slider-arrow.svg') center/50% no-repeat;
		}

		&.bx-prev {
			left: initial;
			right: calc(100% + 30px);

			&:before {
				content: '';
				transform: rotate(180deg);
			}
		}

		&.bx-next {
			left: calc(100% + 30px);
		}
	}
	
}