footer.footer
	.footer__top.container_fluid
		.footer__top-wrap.container

			form.search
				input(type="text" placeholder="Поиск товаров")
				button(type="submit")

			.contacts._footer
				.contacts__reg
					a.contacts__phone(href="tel:84951502262")
						span 8 (495) 
						| 150-22-62
					.contacts__info Звонки по Москве
				.contacts__reg
					a.contacts__phone(href="tel:88005502262")
						span 8 (800) 
						| 550-22-62
					.contacts__info Звонки по всей России

			a.btn.btn__callback(href='#') Заказать звонок

			
	.footer__bottom.container_fluid
		.footer__bottom-wrap.container

			a.main-logo(href='/')
				img(src="./assets/images/img/main-logo_footer.png", alt="Логотип")

			+nav(['О компании', 'Доставка и оплата', 'Отзывы', 'Оптовые закупки', 'Контакты'], 1)

			.social
				a.social__link(href="#")
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.81 21.25">
						<g >
							<path d="M9,5c0-.49,0-1,0-1.46A3.25,3.25,0,0,1,9,3.2a1.14,1.14,0,0,1,.63-.82,1.38,1.38,0,0,1,.63-.19,3.09,3.09,0,0,1,.89,0,1.27,1.27,0,0,1,1,1.12,3.77,3.77,0,0,1,0,.5c0,.89,0,1.77,0,2.66a2.87,2.87,0,0,1-.06.65,1.25,1.25,0,0,1-.93.93,2.33,2.33,0,0,1-1.24,0A1.32,1.32,0,0,1,9,6.86c0-.51,0-1,0-1.53C9,5.24,9,5.14,9,5ZM10,5.16c0,.45,0,.89,0,1.34s.17.57.57.56a.46.46,0,0,0,.51-.5q0-1.4,0-2.81a.45.45,0,0,0-.51-.49c-.42,0-.58.15-.58.57S10,4.72,10,5.16Z" />
							<path d="M13.3,2.18h1.09v.1q0,2.09,0,4.17a1.39,1.39,0,0,0,0,.15.49.49,0,0,0,.73.39.59.59,0,0,0,.36-.57c0-1.38,0-2.76,0-4.14V2.18h1.08v6H15.48V7.61l-.17.17a1.22,1.22,0,0,1-1.08.35A1.17,1.17,0,0,1,13.3,7q0-2.38,0-4.76Z" />
							<path d="M6.25,8.14V8q0-1.53,0-3.06a.51.51,0,0,0,0-.16L4.65.09l0-.09h1a.11.11,0,0,1,.13.09l1,3.06,0,.09,0-.09,1-3.06A.11.11,0,0,1,8,0H9l0,.09L7.36,4.81a.51.51,0,0,0,0,.16q0,1.53,0,3.06v.11Z" />
							<path d="M17.16,14.12a.53.53,0,0,0-.58.42,4.52,4.52,0,0,0,0,.58s0,0,0,.07h1.08c0-.19,0-.37,0-.55A.52.52,0,0,0,17.16,14.12Z" />
							<path d="M13.73,14.11a.47.47,0,0,0-.41-.27.56.56,0,0,0-.55.56c0,.53,0,1.06,0,1.58s0,1.06,0,1.59a.25.25,0,0,0,.15.25.8.8,0,0,0,.52.07.52.52,0,0,0,.41-.5q0-1.4,0-2.81A1,1,0,0,0,13.73,14.11Z" />
							<path d="M22.8,12.57a4.7,4.7,0,0,0-.07-.82,2.89,2.89,0,0,0-1.32-2,3.36,3.36,0,0,0-1.82-.5l-5,0H8.44l-4.81,0a5.76,5.76,0,0,0-1.2.09A2.93,2.93,0,0,0,.5,10.62,3.3,3.3,0,0,0,0,12.43q0,2.64,0,5.28A3.86,3.86,0,0,0,.24,19a3.14,3.14,0,0,0,2.93,2.14c1.89,0,3.78.05,5.67.06q5.18,0,10.36-.06a5.83,5.83,0,0,0,1.17-.09,2.93,2.93,0,0,0,1.94-1.33A3.36,3.36,0,0,0,22.8,18Q22.81,15.26,22.8,12.57Zm-16-.08H5.71V19H4.62V12.49H3.54V11.41H6.78ZM10.58,19H9.51v-.51h0l-.06.06a1.35,1.35,0,0,1-.71.43A1.15,1.15,0,0,1,7.34,18a.89.89,0,0,1,0-.13q0-2.4,0-4.8V13H8.42v.1q0,2.1,0,4.2a.59.59,0,0,0,.45.57.44.44,0,0,0,.5-.24,1.14,1.14,0,0,0,.14-.53c0-1.33,0-2.66,0-4V13h1.08Zm3.88-.31a1,1,0,0,1-1.5,0l-.2-.19V19H11.68V11.41h1.08v2.16a1.36,1.36,0,0,1,.48-.43,1.1,1.1,0,0,1,1.09,0,1.16,1.16,0,0,1,.52.73,1.71,1.71,0,0,1,.07.47c0,1.11,0,2.23,0,3.34A1.39,1.39,0,0,1,14.46,18.69Zm4.27-2.4H16.57v0q0,.55,0,1.09a.34.34,0,0,0,0,.05.46.46,0,0,0,.56.46l.17,0a.33.33,0,0,0,.3-.32c0-.21,0-.43,0-.64,0,0,0-.06,0-.1h1.08c0,.16,0,.32,0,.48a4.82,4.82,0,0,1-.06.6,1.11,1.11,0,0,1-.77.88,2.18,2.18,0,0,1-1.28.06,1.43,1.43,0,0,1-1.09-1.2,2.46,2.46,0,0,1-.05-.5c0-.86,0-1.71,0-2.57a1.62,1.62,0,0,1,.33-1,1.24,1.24,0,0,1,.69-.47,2.47,2.47,0,0,1,1.29,0,1.18,1.18,0,0,1,.91,1,2.73,2.73,0,0,1,0,.44c0,.55,0,1.11,0,1.66Z" />
						</g>
					</svg>
				a.social__link(href="#")
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.28 21.3">
						<g>
							<path class="cls-1" d="M.75,10.65q0-3,0-6A3.8,3.8,0,0,1,4,.81,4.28,4.28,0,0,1,4.73.75H16.56a3.82,3.82,0,0,1,3.85,2.9,3.76,3.76,0,0,1,.11.9q0,6.08,0,12.17a3.8,3.8,0,0,1-3.8,3.81q-6.1,0-12.19,0a3.79,3.79,0,0,1-3.78-3.8C.74,14.71.75,12.68.75,10.65Zm9.9-3.48a3.48,3.48,0,1,0,3.47,3.5A3.48,3.48,0,0,0,10.65,7.17ZM15.1,3.85V5.17h1.32V3.85ZM.75,10.65h6.4m7,0h6.41" />
							<path d="M14.12,10.71A3.47,3.47,0,0,1,7.19,11l-6.94.29c0,1.9,0,3.8,0,5.7A3.68,3.68,0,0,0,4,20.53q6.1,0,12.19,0A3.69,3.69,0,0,0,20,17c0-1.82,0-4.58,0-6.4C20,10.51,17.43,10.58,14.12,10.71Z" />
						</g>
					</svg>
				a.social__link(href="#")
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.81 21.25">
						<g >
							<path d="M9,5c0-.49,0-1,0-1.46A3.25,3.25,0,0,1,9,3.2a1.14,1.14,0,0,1,.63-.82,1.38,1.38,0,0,1,.63-.19,3.09,3.09,0,0,1,.89,0,1.27,1.27,0,0,1,1,1.12,3.77,3.77,0,0,1,0,.5c0,.89,0,1.77,0,2.66a2.87,2.87,0,0,1-.06.65,1.25,1.25,0,0,1-.93.93,2.33,2.33,0,0,1-1.24,0A1.32,1.32,0,0,1,9,6.86c0-.51,0-1,0-1.53C9,5.24,9,5.14,9,5ZM10,5.16c0,.45,0,.89,0,1.34s.17.57.57.56a.46.46,0,0,0,.51-.5q0-1.4,0-2.81a.45.45,0,0,0-.51-.49c-.42,0-.58.15-.58.57S10,4.72,10,5.16Z" />
							<path d="M13.3,2.18h1.09v.1q0,2.09,0,4.17a1.39,1.39,0,0,0,0,.15.49.49,0,0,0,.73.39.59.59,0,0,0,.36-.57c0-1.38,0-2.76,0-4.14V2.18h1.08v6H15.48V7.61l-.17.17a1.22,1.22,0,0,1-1.08.35A1.17,1.17,0,0,1,13.3,7q0-2.38,0-4.76Z" />
							<path d="M6.25,8.14V8q0-1.53,0-3.06a.51.51,0,0,0,0-.16L4.65.09l0-.09h1a.11.11,0,0,1,.13.09l1,3.06,0,.09,0-.09,1-3.06A.11.11,0,0,1,8,0H9l0,.09L7.36,4.81a.51.51,0,0,0,0,.16q0,1.53,0,3.06v.11Z" />
							<path d="M17.16,14.12a.53.53,0,0,0-.58.42,4.52,4.52,0,0,0,0,.58s0,0,0,.07h1.08c0-.19,0-.37,0-.55A.52.52,0,0,0,17.16,14.12Z" />
							<path d="M13.73,14.11a.47.47,0,0,0-.41-.27.56.56,0,0,0-.55.56c0,.53,0,1.06,0,1.58s0,1.06,0,1.59a.25.25,0,0,0,.15.25.8.8,0,0,0,.52.07.52.52,0,0,0,.41-.5q0-1.4,0-2.81A1,1,0,0,0,13.73,14.11Z" />
							<path d="M22.8,12.57a4.7,4.7,0,0,0-.07-.82,2.89,2.89,0,0,0-1.32-2,3.36,3.36,0,0,0-1.82-.5l-5,0H8.44l-4.81,0a5.76,5.76,0,0,0-1.2.09A2.93,2.93,0,0,0,.5,10.62,3.3,3.3,0,0,0,0,12.43q0,2.64,0,5.28A3.86,3.86,0,0,0,.24,19a3.14,3.14,0,0,0,2.93,2.14c1.89,0,3.78.05,5.67.06q5.18,0,10.36-.06a5.83,5.83,0,0,0,1.17-.09,2.93,2.93,0,0,0,1.94-1.33A3.36,3.36,0,0,0,22.8,18Q22.81,15.26,22.8,12.57Zm-16-.08H5.71V19H4.62V12.49H3.54V11.41H6.78ZM10.58,19H9.51v-.51h0l-.06.06a1.35,1.35,0,0,1-.71.43A1.15,1.15,0,0,1,7.34,18a.89.89,0,0,1,0-.13q0-2.4,0-4.8V13H8.42v.1q0,2.1,0,4.2a.59.59,0,0,0,.45.57.44.44,0,0,0,.5-.24,1.14,1.14,0,0,0,.14-.53c0-1.33,0-2.66,0-4V13h1.08Zm3.88-.31a1,1,0,0,1-1.5,0l-.2-.19V19H11.68V11.41h1.08v2.16a1.36,1.36,0,0,1,.48-.43,1.1,1.1,0,0,1,1.09,0,1.16,1.16,0,0,1,.52.73,1.71,1.71,0,0,1,.07.47c0,1.11,0,2.23,0,3.34A1.39,1.39,0,0,1,14.46,18.69Zm4.27-2.4H16.57v0q0,.55,0,1.09a.34.34,0,0,0,0,.05.46.46,0,0,0,.56.46l.17,0a.33.33,0,0,0,.3-.32c0-.21,0-.43,0-.64,0,0,0-.06,0-.1h1.08c0,.16,0,.32,0,.48a4.82,4.82,0,0,1-.06.6,1.11,1.11,0,0,1-.77.88,2.18,2.18,0,0,1-1.28.06,1.43,1.43,0,0,1-1.09-1.2,2.46,2.46,0,0,1-.05-.5c0-.86,0-1.71,0-2.57a1.62,1.62,0,0,1,.33-1,1.24,1.24,0,0,1,.69-.47,2.47,2.47,0,0,1,1.29,0,1.18,1.18,0,0,1,.91,1,2.73,2.73,0,0,1,0,.44c0,.55,0,1.11,0,1.66Z" />
						</g>
					</svg>
				a.social__link(href="#")
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.81 21.25">
						<g >
							<path d="M9,5c0-.49,0-1,0-1.46A3.25,3.25,0,0,1,9,3.2a1.14,1.14,0,0,1,.63-.82,1.38,1.38,0,0,1,.63-.19,3.09,3.09,0,0,1,.89,0,1.27,1.27,0,0,1,1,1.12,3.77,3.77,0,0,1,0,.5c0,.89,0,1.77,0,2.66a2.87,2.87,0,0,1-.06.65,1.25,1.25,0,0,1-.93.93,2.33,2.33,0,0,1-1.24,0A1.32,1.32,0,0,1,9,6.86c0-.51,0-1,0-1.53C9,5.24,9,5.14,9,5ZM10,5.16c0,.45,0,.89,0,1.34s.17.57.57.56a.46.46,0,0,0,.51-.5q0-1.4,0-2.81a.45.45,0,0,0-.51-.49c-.42,0-.58.15-.58.57S10,4.72,10,5.16Z" />
							<path d="M13.3,2.18h1.09v.1q0,2.09,0,4.17a1.39,1.39,0,0,0,0,.15.49.49,0,0,0,.73.39.59.59,0,0,0,.36-.57c0-1.38,0-2.76,0-4.14V2.18h1.08v6H15.48V7.61l-.17.17a1.22,1.22,0,0,1-1.08.35A1.17,1.17,0,0,1,13.3,7q0-2.38,0-4.76Z" />
							<path d="M6.25,8.14V8q0-1.53,0-3.06a.51.51,0,0,0,0-.16L4.65.09l0-.09h1a.11.11,0,0,1,.13.09l1,3.06,0,.09,0-.09,1-3.06A.11.11,0,0,1,8,0H9l0,.09L7.36,4.81a.51.51,0,0,0,0,.16q0,1.53,0,3.06v.11Z" />
							<path d="M17.16,14.12a.53.53,0,0,0-.58.42,4.52,4.52,0,0,0,0,.58s0,0,0,.07h1.08c0-.19,0-.37,0-.55A.52.52,0,0,0,17.16,14.12Z" />
							<path d="M13.73,14.11a.47.47,0,0,0-.41-.27.56.56,0,0,0-.55.56c0,.53,0,1.06,0,1.58s0,1.06,0,1.59a.25.25,0,0,0,.15.25.8.8,0,0,0,.52.07.52.52,0,0,0,.41-.5q0-1.4,0-2.81A1,1,0,0,0,13.73,14.11Z" />
							<path d="M22.8,12.57a4.7,4.7,0,0,0-.07-.82,2.89,2.89,0,0,0-1.32-2,3.36,3.36,0,0,0-1.82-.5l-5,0H8.44l-4.81,0a5.76,5.76,0,0,0-1.2.09A2.93,2.93,0,0,0,.5,10.62,3.3,3.3,0,0,0,0,12.43q0,2.64,0,5.28A3.86,3.86,0,0,0,.24,19a3.14,3.14,0,0,0,2.93,2.14c1.89,0,3.78.05,5.67.06q5.18,0,10.36-.06a5.83,5.83,0,0,0,1.17-.09,2.93,2.93,0,0,0,1.94-1.33A3.36,3.36,0,0,0,22.8,18Q22.81,15.26,22.8,12.57Zm-16-.08H5.71V19H4.62V12.49H3.54V11.41H6.78ZM10.58,19H9.51v-.51h0l-.06.06a1.35,1.35,0,0,1-.71.43A1.15,1.15,0,0,1,7.34,18a.89.89,0,0,1,0-.13q0-2.4,0-4.8V13H8.42v.1q0,2.1,0,4.2a.59.59,0,0,0,.45.57.44.44,0,0,0,.5-.24,1.14,1.14,0,0,0,.14-.53c0-1.33,0-2.66,0-4V13h1.08Zm3.88-.31a1,1,0,0,1-1.5,0l-.2-.19V19H11.68V11.41h1.08v2.16a1.36,1.36,0,0,1,.48-.43,1.1,1.1,0,0,1,1.09,0,1.16,1.16,0,0,1,.52.73,1.71,1.71,0,0,1,.07.47c0,1.11,0,2.23,0,3.34A1.39,1.39,0,0,1,14.46,18.69Zm4.27-2.4H16.57v0q0,.55,0,1.09a.34.34,0,0,0,0,.05.46.46,0,0,0,.56.46l.17,0a.33.33,0,0,0,.3-.32c0-.21,0-.43,0-.64,0,0,0-.06,0-.1h1.08c0,.16,0,.32,0,.48a4.82,4.82,0,0,1-.06.6,1.11,1.11,0,0,1-.77.88,2.18,2.18,0,0,1-1.28.06,1.43,1.43,0,0,1-1.09-1.2,2.46,2.46,0,0,1-.05-.5c0-.86,0-1.71,0-2.57a1.62,1.62,0,0,1,.33-1,1.24,1.24,0,0,1,.69-.47,2.47,2.47,0,0,1,1.29,0,1.18,1.18,0,0,1,.91,1,2.73,2.73,0,0,1,0,.44c0,.55,0,1.11,0,1.66Z" />
						</g>
					</svg>
				a.social__link(href="#")
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.81 21.25">
						<g >
							<path d="M9,5c0-.49,0-1,0-1.46A3.25,3.25,0,0,1,9,3.2a1.14,1.14,0,0,1,.63-.82,1.38,1.38,0,0,1,.63-.19,3.09,3.09,0,0,1,.89,0,1.27,1.27,0,0,1,1,1.12,3.77,3.77,0,0,1,0,.5c0,.89,0,1.77,0,2.66a2.87,2.87,0,0,1-.06.65,1.25,1.25,0,0,1-.93.93,2.33,2.33,0,0,1-1.24,0A1.32,1.32,0,0,1,9,6.86c0-.51,0-1,0-1.53C9,5.24,9,5.14,9,5ZM10,5.16c0,.45,0,.89,0,1.34s.17.57.57.56a.46.46,0,0,0,.51-.5q0-1.4,0-2.81a.45.45,0,0,0-.51-.49c-.42,0-.58.15-.58.57S10,4.72,10,5.16Z" />
							<path d="M13.3,2.18h1.09v.1q0,2.09,0,4.17a1.39,1.39,0,0,0,0,.15.49.49,0,0,0,.73.39.59.59,0,0,0,.36-.57c0-1.38,0-2.76,0-4.14V2.18h1.08v6H15.48V7.61l-.17.17a1.22,1.22,0,0,1-1.08.35A1.17,1.17,0,0,1,13.3,7q0-2.38,0-4.76Z" />
							<path d="M6.25,8.14V8q0-1.53,0-3.06a.51.51,0,0,0,0-.16L4.65.09l0-.09h1a.11.11,0,0,1,.13.09l1,3.06,0,.09,0-.09,1-3.06A.11.11,0,0,1,8,0H9l0,.09L7.36,4.81a.51.51,0,0,0,0,.16q0,1.53,0,3.06v.11Z" />
							<path d="M17.16,14.12a.53.53,0,0,0-.58.42,4.52,4.52,0,0,0,0,.58s0,0,0,.07h1.08c0-.19,0-.37,0-.55A.52.52,0,0,0,17.16,14.12Z" />
							<path d="M13.73,14.11a.47.47,0,0,0-.41-.27.56.56,0,0,0-.55.56c0,.53,0,1.06,0,1.58s0,1.06,0,1.59a.25.25,0,0,0,.15.25.8.8,0,0,0,.52.07.52.52,0,0,0,.41-.5q0-1.4,0-2.81A1,1,0,0,0,13.73,14.11Z" />
							<path d="M22.8,12.57a4.7,4.7,0,0,0-.07-.82,2.89,2.89,0,0,0-1.32-2,3.36,3.36,0,0,0-1.82-.5l-5,0H8.44l-4.81,0a5.76,5.76,0,0,0-1.2.09A2.93,2.93,0,0,0,.5,10.62,3.3,3.3,0,0,0,0,12.43q0,2.64,0,5.28A3.86,3.86,0,0,0,.24,19a3.14,3.14,0,0,0,2.93,2.14c1.89,0,3.78.05,5.67.06q5.18,0,10.36-.06a5.83,5.83,0,0,0,1.17-.09,2.93,2.93,0,0,0,1.94-1.33A3.36,3.36,0,0,0,22.8,18Q22.81,15.26,22.8,12.57Zm-16-.08H5.71V19H4.62V12.49H3.54V11.41H6.78ZM10.58,19H9.51v-.51h0l-.06.06a1.35,1.35,0,0,1-.71.43A1.15,1.15,0,0,1,7.34,18a.89.89,0,0,1,0-.13q0-2.4,0-4.8V13H8.42v.1q0,2.1,0,4.2a.59.59,0,0,0,.45.57.44.44,0,0,0,.5-.24,1.14,1.14,0,0,0,.14-.53c0-1.33,0-2.66,0-4V13h1.08Zm3.88-.31a1,1,0,0,1-1.5,0l-.2-.19V19H11.68V11.41h1.08v2.16a1.36,1.36,0,0,1,.48-.43,1.1,1.1,0,0,1,1.09,0,1.16,1.16,0,0,1,.52.73,1.71,1.71,0,0,1,.07.47c0,1.11,0,2.23,0,3.34A1.39,1.39,0,0,1,14.46,18.69Zm4.27-2.4H16.57v0q0,.55,0,1.09a.34.34,0,0,0,0,.05.46.46,0,0,0,.56.46l.17,0a.33.33,0,0,0,.3-.32c0-.21,0-.43,0-.64,0,0,0-.06,0-.1h1.08c0,.16,0,.32,0,.48a4.82,4.82,0,0,1-.06.6,1.11,1.11,0,0,1-.77.88,2.18,2.18,0,0,1-1.28.06,1.43,1.43,0,0,1-1.09-1.2,2.46,2.46,0,0,1-.05-.5c0-.86,0-1.71,0-2.57a1.62,1.62,0,0,1,.33-1,1.24,1.24,0,0,1,.69-.47,2.47,2.47,0,0,1,1.29,0,1.18,1.18,0,0,1,.91,1,2.73,2.73,0,0,1,0,.44c0,.55,0,1.11,0,1.66Z" />
						</g>
					</svg>