footer.footer
	.footer__top.container_fluid
		.footer__top-wrap.container

			form.search
				input(type="text" placeholder="Поиск товаров")
				button(type="submit")

			.contacts._footer
				.contacts__reg
					a.contacts__phone(href="tel:84951502262")
						span 8 (495) 
						| 150-22-62
					.contacts__info Звонки по Москве
				.contacts__reg
					a.contacts__phone(href="tel:88005502262")
						span 8 (800) 
						| 550-22-62
					.contacts__info Звонки по всей России

			a.btn.btn__callback.fancy(href='#callback-form') Заказать звонок

			
	.footer__bottom.container_fluid
		.footer__bottom-wrap.container

			a.main-logo(href='/')
				img(src="./assets/images/img/main-logo_black.png", alt="Логотип")

			+nav(['О компании', 'Доставка и оплата', 'Отзывы', 'Оптовые закупки', 'Контакты'], 1)

			.contacts._footer
				.contacts__reg
					a.contacts__phone(href="tel:84951502262")
						span 8 (495) 
						| 150-22-62
					.contacts__info Звонки по Москве
				.contacts__reg
					a.contacts__phone(href="tel:88005502262")
						span 8 (800) 
						| 550-22-62
					.contacts__info Звонки по всей России

			a.btn.btn__callback.fancy(href='#callback-form') Заказать обратный звонок

			.social
				a.social__link(href="#")
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.48 17.22">
						<g id="Layer_1-2" data-name="Layer 1">
							<path id="_Compound_Path_" data-name="&lt;Compound Path&gt;" d="M7.26,4.09c0-.39,0-.79,0-1.18a2.64,2.64,0,0,1,0-.32.93.93,0,0,1,.51-.67,1.12,1.12,0,0,1,.51-.15A2.5,2.5,0,0,1,9,1.8a1,1,0,0,1,.84.9,3.05,3.05,0,0,1,0,.4c0,.72,0,1.43,0,2.15a2.33,2.33,0,0,1,0,.52,1,1,0,0,1-.75.76,1.89,1.89,0,0,1-1,0,1.07,1.07,0,0,1-.81-1c0-.41,0-.83,0-1.24,0-.08,0-.15,0-.23Zm.88.09c0,.36,0,.72,0,1.09s.14.46.46.45A.37.37,0,0,0,9,5.32Q9,4.18,9,3a.36.36,0,0,0-.41-.4c-.34,0-.47.12-.47.46S8.14,3.82,8.14,4.18Z" />
							<path id="_Path_" data-name="&lt;Path&gt;" d="M10.78,1.77h.88v.08q0,1.69,0,3.38a1.13,1.13,0,0,0,0,.12.4.4,0,0,0,.59.32.48.48,0,0,0,.29-.46c0-1.12,0-2.24,0-3.35V1.77h.88V6.6h-.87V6.17l-.14.14a1,1,0,0,1-.87.28,1,1,0,0,1-.75-.89q0-1.93,0-3.86Z" />
							<path id="_Path_2" data-name="&lt;Path&gt;" d="M5.06,6.6V6.51q0-1.24,0-2.48A.41.41,0,0,0,5,3.9L3.77.07l0-.07h.8a.09.09,0,0,1,.1.08l.83,2.48,0,.07,0-.07L6.35.08A.09.09,0,0,1,6.46,0h.8l0,.07L6,3.9a.41.41,0,0,0,0,.13q0,1.24,0,2.48V6.6Z" />
							<g id="_Group_" data-name="&lt;Group&gt;">
								<path id="_Path_3" data-name="&lt;Path&gt;" d="M13.91,11.44a.43.43,0,0,0-.47.34,3.66,3.66,0,0,0,0,.47s0,0,0,.06h.88c0-.15,0-.3,0-.45A.42.42,0,0,0,13.91,11.44Z" />
								<path id="_Path_4" data-name="&lt;Path&gt;" d="M11.12,11.44a.38.38,0,0,0-.34-.22.45.45,0,0,0-.45.45c0,.43,0,.86,0,1.28s0,.86,0,1.29a.2.2,0,0,0,.12.2.64.64,0,0,0,.42.05.42.42,0,0,0,.34-.41q0-1.14,0-2.27A.79.79,0,0,0,11.12,11.44Z" />
								<path id="_Compound_Path_2" data-name="&lt;Compound Path&gt;" d="M18.48,10.18a3.81,3.81,0,0,0-.06-.66,2.35,2.35,0,0,0-1.07-1.63,2.73,2.73,0,0,0-1.48-.4l-4.08,0h-5l-3.9,0a4.67,4.67,0,0,0-1,.07A2.37,2.37,0,0,0,.41,8.61,2.67,2.67,0,0,0,0,10.07q0,2.14,0,4.28a3.13,3.13,0,0,0,.19,1.08,2.54,2.54,0,0,0,2.38,1.73l4.59.05q4.2,0,8.4,0a4.72,4.72,0,0,0,1-.07A2.37,2.37,0,0,0,18.09,16a2.72,2.72,0,0,0,.39-1.47Q18.49,12.37,18.48,10.18Zm-13-.06H4.62V15.4H3.74V10.12H2.87V9.25H5.5ZM8.58,15.4H7.7V15h0l0,.05a1.09,1.09,0,0,1-.58.35.93.93,0,0,1-1.12-.75.72.72,0,0,1,0-.11q0-1.95,0-3.89v-.06h.88v.08q0,1.7,0,3.4a.48.48,0,0,0,.36.47.36.36,0,0,0,.41-.19.92.92,0,0,0,.11-.43c0-1.08,0-2.16,0-3.24v-.09h.88Zm3.14-.25a.84.84,0,0,1-1.22,0L10.34,15v.42H9.47V9.25h.87V11a1.1,1.1,0,0,1,.39-.35.89.89,0,0,1,.89,0,.94.94,0,0,1,.42.59,1.39,1.39,0,0,1,.06.38c0,.9,0,1.81,0,2.71A1.13,1.13,0,0,1,11.72,15.15Zm3.46-1.95H13.43v0q0,.44,0,.89a.28.28,0,0,0,0,0,.38.38,0,0,0,.45.37l.14,0a.27.27,0,0,0,.24-.26c0-.17,0-.35,0-.52s0,0,0-.08h.88c0,.13,0,.26,0,.39a3.91,3.91,0,0,1,0,.48.9.9,0,0,1-.63.71,1.76,1.76,0,0,1-1,.05,1.16,1.16,0,0,1-.89-1,2,2,0,0,1,0-.4c0-.69,0-1.39,0-2.08a1.31,1.31,0,0,1,.27-.81,1,1,0,0,1,.56-.38,2,2,0,0,1,1,0,1,1,0,0,1,.74.83,2.22,2.22,0,0,1,0,.36c0,.45,0,.9,0,1.35Z" />
							</g>
						</g>
					</svg>

				a.social__link(href="#")
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.1 16.26">
						<g>
							<path id="_Path_" data-name="&lt;Path&gt;" class="cls-1" d="M18.1,7.11c0-.4-.1-.51-.51-.51-.73,0-1.47,0-2.2,0-.3,0-.41,0-.4-.38,0-.74,0-1.49,0-2.24,0-.38-.11-.49-.49-.49H14c-.39,0-.48.1-.48.5,0,.78,0,1.56,0,2.34,0,.21-.05.28-.27.27-.62,0-1.24,0-1.86,0-1.05,0-1,0-1,1,0,.42.11.53.52.53.77,0,1.54,0,2.31,0,.23,0,.29.07.28.29,0,.61,0,1.22,0,1.82,0,1.06,0,1,1,1,.39,0,.5-.12.5-.52,0-.78,0-1.56,0-2.34,0-.19,0-.26.25-.25.4,0,.8,0,1.2,0h.65C18.18,8.16,18.11,8.12,18.1,7.11Z" />
							<path id="_Compound_Path_" data-name="&lt;Compound Path&gt;" class="cls-1" d="M8.79,9.17a5.63,5.63,0,0,1-1.13-1,.62.62,0,0,1,0-1c.24-.23.51-.43.75-.65A3.45,3.45,0,0,0,9.7,3.45a4,4,0,0,0-.77-2,1,1,0,0,0,1-.27c.19-.15.39-.29.58-.43s.37-.26.29-.52S10.45,0,10.22,0H5.64A4.89,4.89,0,0,0,2.58,1.05,3.61,3.61,0,0,0,2,6.47,3.91,3.91,0,0,0,4.65,7.74c.11,0,.32-.07.28.18a2.24,2.24,0,0,0,.21,1.31,5.64,5.64,0,0,0-1.47.15A4.91,4.91,0,0,0,.5,11.46a2.56,2.56,0,0,0,.77,3.75,4.49,4.49,0,0,0,.85.46,8.23,8.23,0,0,0,3.81.56,5.5,5.5,0,0,0,3-1.06,3.45,3.45,0,0,0,1.46-3A3.68,3.68,0,0,0,8.79,9.17ZM5,6.28A3.23,3.23,0,0,1,3.56,4.05a2.87,2.87,0,0,1,.07-1.56,1.41,1.41,0,0,1,2.2-.79A3.39,3.39,0,0,1,7.28,4.52a2.56,2.56,0,0,1-.22,1.1A1.34,1.34,0,0,1,5,6.28Zm2.5,8a4.63,4.63,0,0,1-2.27.47,3.06,3.06,0,0,1-2.15-.83,1.7,1.7,0,0,1,.11-2.69,3.42,3.42,0,0,1,3.3-.65A3.24,3.24,0,0,1,8.22,11.9,1.82,1.82,0,0,1,7.52,14.27Z" />
						</g>
					</svg>

				a.social__link(href="#")
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.84 16.84">
						<g>
							<path d="M8.42,16.84H1.94a1.88,1.88,0,0,1-1.36-.55A1.88,1.88,0,0,1,0,14.92c0-.3,0-.61,0-.91Q0,8,0,2a1.9,1.9,0,0,1,.18-.85A1.93,1.93,0,0,1,1.62,0,1.89,1.89,0,0,1,2,0h12.9a1.9,1.9,0,0,1,1.26.45,1.91,1.91,0,0,1,.69,1.31,1.74,1.74,0,0,1,0,.18q0,6.48,0,13a1.94,1.94,0,0,1-1.54,1.9,2,2,0,0,1-.41,0Zm-5-9.71H2c-.08,0-.08,0-.08.08q0,3.49,0,7s0,.05,0,.08a.64.64,0,0,0,.46.6.81.81,0,0,0,.23,0H14.25a.64.64,0,0,0,.51-.25.66.66,0,0,0,.13-.42q0-3.51,0-7s0,0,0,0,0,0,0,0H13.48s0,0,0,0a5.18,5.18,0,0,1-7.73,5.7,5.17,5.17,0,0,1-2.3-5.7Zm5-1.95a3.24,3.24,0,1,0,3.24,3.24A3.24,3.24,0,0,0,8.42,5.18Zm4.85,0h1a.65.65,0,0,0,.66-.65c0-.64,0-1.29,0-1.93a.61.61,0,0,0,0-.1.64.64,0,0,0-.65-.55H12.32a.64.64,0,0,0-.66.66q0,1,0,1.93a.66.66,0,0,0,0,.1.65.65,0,0,0,.66.56Z" />
						</g>
					</svg>
				a.social__link(href="#")
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.71 15.29">
						<g>
							<path id="_Compound_Path_" data-name="&lt;Compound Path&gt;" class="cls-1" d="M7.17,9a3.6,3.6,0,0,0-1.75-.29H3.57v3.8H5.26a3.48,3.48,0,0,0,2-.33A2,2,0,0,0,8,10.51,1.94,1.94,0,0,0,7.17,9Zm-.7-3.24A1.77,1.77,0,0,0,7.1,4.32a1.6,1.6,0,0,0-.73-1.38,4.54,4.54,0,0,0-2-.22h-.8V6.06H4.63A2.92,2.92,0,0,0,6.47,5.71Zm-.13,9.58H0V0H6.92a3.58,3.58,0,0,1,3.85,3.53,3.25,3.25,0,0,1-2.21,3.3v0a3.48,3.48,0,0,1,3.15,3.78C11.71,12.88,10.2,15.29,6.34,15.29Z" />
						</g>
					</svg>
				a.social__link(href="#")
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.97 17.03">
						<g>
							<path id="_Path_" data-name="&lt;Path&gt;" d="M1.71,8.52H0V5.65H1.7c0-.09,0-.16,0-.24q0-1.14,0-2.27A2.92,2.92,0,0,1,4.41.07a7.88,7.88,0,0,1,1-.06H7.94A1.21,1.21,0,0,1,8,.12C8,1.07,8,2,8,3H6.14a.8.8,0,0,0-.87.88c0,.58,0,1.16,0,1.76H8L7.64,8.51H5.26V17H1.71Z" />
						</g>
					</svg>

		.footer__fixed
			a.footer__fixed-catalog(href="#") Каталог
			a.footer__fixed-contacts(href="#") Как нас найти?
			a.search-link(href="")
			form.search._toggle._fullWidth
				a.search__link(href="#")
				input(type="text" placeholder="Поиск товаров")
				button(type="submit")