header.header
	.header__top.container_fluid
		.header__top-wrap.container
			a.main-logo(href='/')
				img(src="./assets/images/img/main-logo.png", alt="Логотип")
			+nav(['О компании', 'Доставка и оплата', 'Отзывы', 'Оптовые закупки', 'Контакты'], 1)
			a.header__busket(href='#')
				.header__busket-count 
					span 10 
					| товаров7
				.header__busket-price на сумму 
					span 1200 руб.
					| 7
	
	.header__bottom.container_fluid
		.header__bottom-wrap.container
			.catalog-menu
				a.catalog-menu__btn(href="#") Каталог товаров
					.catalog-menu__burger
						span
						span
						span
				ul.catalog-menu__list
					li.catalog-menu__list-item
						a.catalog-menu__list-link._l2(href="#")
							span Автовинил
						ul.catalog-submenu
							li.catalog-submenu__item
								a.catalog-submenu__link(href="#")
					li.catalog-menu__list-item
						a.catalog-menu__list-link._l2(href="#")
							span Алькантара
						ul.catalog-submenu
							li.catalog-submenu__item
								a.catalog-submenu__link(href="#")
					li.catalog-menu__list-item
						a.catalog-menu__list-link._l2(href="#")
							span Жидкая резина
						ul.catalog-submenu
							li.catalog-submenu__item
								a.catalog-submenu__link(href="#")
					li.catalog-menu__list-item
						a.catalog-menu__list-link._l2(href="#")
							span Тонировочные пленки
						ul.catalog-submenu
							li.catalog-submenu__item
								a.catalog-submenu__link(href="#")
					li.catalog-menu__list-item
						a.catalog-menu__list-link(href="#")
							span Тонировка на фары
					li.catalog-menu__list-item
						a.catalog-menu__list-link(href="#")
							span Автосвет
					li.catalog-menu__list-item
						a.catalog-menu__list-link(href="#")
							span Чехлы
					li.catalog-menu__list-item
						a.catalog-menu__list-link(href="#")
							span Аксуссуары
					li.catalog-menu__list-item
						a.catalog-menu__list-link(href="#")
							span Автовинил
					li.catalog-menu__list-item
						a.catalog-menu__list-link(href="#")
							span Шумоизоляция


			form.search
				input(type="text" placeholder="Поиск товаров")
				button(type="submit")
					
			.contacts
				.contacts__reg
					a.contacts__phone(href="tel:84951502262")
						span 8 (495) 
						| 150-22-62
					.contacts__info Звонки по Москве
				.contacts__reg
					a.contacts__phone(href="tel:88005502262")
						span 8 (800) 
						| 550-22-62
					.contacts__info Звонки по всей России


			a.btn.btn__callback(href='#') Заказать звонок










