head
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	title index
	link(rel='stylesheet', href='./css/vendorCss/jquery.bxslider.min.css')
	link(rel='stylesheet', href='./css/vendorCss/slick-theme.css')
	link(rel='stylesheet', href='./css/vendorCss/slick.css')
	link(rel='stylesheet', href='./css/vendorCss/jquery.fancybox.css')
	link(rel='stylesheet', href='./css/styles.css')