:root {
	--text-size: 20px;
	--font-color: #272727;
	--Lato-Regular: 'Lato-Regular', 'Arial', 'Helvetica', sans-serif;
	--Lato-Semibold: 'Lato-Semibold', 'Arial', 'Helvetica', sans-serif;
	--Lato-Light: 'Lato-Light', 'Arial', 'Helvetica', sans-serif;
	--Lato-Medium: 'Lato-Medium', 'Arial', 'Helvetica', sans-serif;
	--red: #e60000;
}

@custom-media --small screen and (width <= 767px);